<div nz-row nzGutter="32">
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="4">
    <nz-card>
      <nz-radio-group [(ngModel)]="pageType" nzButtonStyle="solid">
        <label nz-radio-button nzValue="A">列表页面</label><br />
        <label nz-radio-button nzValue="B">详情页面</label><br />
        <label nz-radio-button nzValue="C">查询页面</label><br />
      </nz-radio-group>
    </nz-card>
    <nz-card>
      字段
    </nz-card>
  </nz-col>
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="16">

    <nz-card>
      页面
    </nz-card>
  </nz-col>
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="4" class="widget-properties-wrapper">

    <nz-card>
      组件属性
    </nz-card>
  </nz-col>
</div>
