<page-header [title]="'模型设计(' + type.name + ')'" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a routerLink="/dashboard">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>智能开发</nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/admin/dm/type">模型管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a routerLink="/admin/dm/type">模型管设计</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<div nz-row nzGutter="32">
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="24">
    <nz-card>
      <form nz-form #f="ngForm" se-container="2">
        <se label="页面类型">
          <nz-radio-group [(ngModel)]="page.type" name="page_type" nzButtonStyle="solid"  nzSize="large">
            <label nz-radio-button nzValue="SEARCH">查询</label>
            <label nz-radio-button nzValue="LIST">列表</label>
            <label nz-radio-button nzValue="EDIT">编辑</label>
            <label nz-radio-button nzValue="VIEW">查看</label>
          </nz-radio-group>
        </se>
      </form>
    </nz-card>
  </nz-col>
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="16">
    <nz-card>
      <div class="mb-md">
        <button (click)="add()" nz-button nzType="primary">新建</button>
        <button (click)="st.reload()" nz-button nzType="primary">刷新</button>
      </div>
      <st #st [data]="url" [columns]="columns" loading="false"></st>
    </nz-card>
  </nz-col>
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" class="widget-properties-wrapper">
    <nz-card>
      <nz-tabset>
        <nz-tab nzTitle="页面属性">
<!--          <sf *ngIf="page" mode="edit" [schema]="basicSchema" [ui]="basicSchemaUi" [formData]="page" button="none">-->
<!--          </sf>-->
          <sf *ngIf="page" mode="edit" [schema]="basicSchema" [ui]="basicSchemaUi" [formData]="page" button="none">
          </sf>
        </nz-tab>
        <nz-tab nzTitle="列编辑">
          <sf *ngIf="page" mode="edit" [schema]="columnsSchema" [ui]="basicSchemaUi" [formData]="page" button="none">
          </sf>
        </nz-tab>
        <nz-tab nzTitle="查询条件">
          Content of Tab Pane 3
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </nz-col>
</div>
