<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <!-- <button (click)="add()" nz-button nzType="primary">新建</button>÷ -->
  </ng-template>
</page-header>
<nz-card>
  <!-- <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)">
  </sf> -->
  <div class="mb-md">
    <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)">
    </sf>
  </div>
  <div class="mb-md">
    <button (click)="add()" nz-button nzType="primary">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新建
    </button>
    <button (click)="st.reload()" nz-button nzType="primary">
      <i nz-icon nzType="reload" nzTheme="outline"></i>刷新
    </button>
  </div>
  <st #st [data]="url" [req]="req" [res]="res" [columns]="columns"></st>
</nz-card>
