<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>

  <div class="mb-md">
    <button (click)="add()" nz-button nzType="primary">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      添加根菜单
    </button>
  </div>

  <nz-table #nzTable [nzData]="treeUtils?.data" nzHideOnSinglePage="true">
    <thead>
      <tr>
        <th nzWidth="40%">名称</th>
        <th>地址</th>
        <th>隐藏</th>
        <th>禁用</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <ng-template ngFor let-item [ngForOf]="treeUtils?.expandDataCache[data.id]">
          <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
            <td [nzIndentSize]="item.level*20"
              [nzShowExpand]="!!item && (!!item.children.length > 0 || item.hasChildren)" [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(treeUtils?.expandDataCache[data.id],item,$event)">
              {{item.text}}
            </td>
            <td>{{item.link}}</td>
            <!-- <td [innerHTML]="enabled | yn"></td> -->

            <td [innerHTML]="item.disable | yn"></td>
            <td>{{item.hide?'是':'否'}}</td>
            <td>
              <a (click)="addChildren(item.id)">添加子菜单</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="edit(item.id)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否确认删除?" nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delete(item)">删除</a>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
  </nz-table>

</nz-card>
